{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/quiz.css' %}">

    <style>
    @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
    </style>
    <title>Elearn</title>
</head>
<body>
    <div class="contain">
        <div class="logo"><h2>E<span>learning</span></h2></div>
    <div class="nav">
        <a href="{% url 'home' %}" class='actives' >HOME</a>
        <a href="{% url 'about' %}">ABOUT</a>
        <a href="{% url 'courses' %}">COURSES</a>

        <a href="{% url 'contact' %}">CONTACT</a>
        <a href="">QUIZ</a>
        <a href="{% url 'login' %}"><i class="fa fa-user"></i></a>
    </div>
    <div class='side'><i class="fa-solid fa-bars"></i></div>
</div>
    </div>
    <div class="quiz">
        <div class="place">
            
                <h5><a href="quiz_html" >HTML</a>
                </h5>
            
        </div>
        <div class="place">
            
                <h5><a href="quiz_css" >CSS</a>
                </h5>
            
        </div> <div class="place">
            
                <h5><a href="quiz_js" >JAVA SCRIPT</a>
                </h5>
        
        </div>
        <div class="place">
            
            <h5><a href="quiz_py" >Python</a>
            </h5>
    
    </div>
    </div>


    <script src='{% static "js/script.js" %}'></script>

</body>
</html>